Flask==2.0.2
hiccupy==1.0.0
lark==1.0.0
psycopg2==2.9.3
SQLAlchemy==1.4.29
xlsx2csv==0.8.0
ontodev-gadget @ git+https://github.com/ontodev/gadget.git
ontodev-sprocket @ git+https://github.com/ontodev/sprocket.git
