{% extends "template.html" %}
{% block content %}

<div class="row py-3">
    <form method="post">
        <div class="row py-3">
            <div class="col-md-4">
                <h3>Term Metadata</h3>
            </div>
            <div class="col-md-8">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <select class="form-select" id="metadata-select">
                            <option selected>Add new annotation</option>
                            {% for term_id, label in annotation_properties.items() %}
                            <option value="{{ term_id }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary" href="javascript:addField('annotation')">Add</a>
                    </div>
                </div>
            </div>
        </div>
        {{ metadata|safe }}
        <div class="row py-3" style="margin-top: 25px;">
            <div class="col-md-4">
                <h3>Logical Definition</h3>
            </div>
            <div class="col-md-8">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <select class="form-select" id="logic-select">
                            <option selected>Add logic</option>
                            {% if entity_type == "owl:Class" %}
                            <option value="rdfs:subClassOf">parent class</option>
                            <option value="owl:equivalentClass">equivalent class</option>
                            <option value="owl:disjointWith">disjoint with</option>
                            {% elif entity_type == "owl:ObjectProperty" or entity_type == "owl:DatatypeProperty" %}
                            <option value="rdfs:subPropertyOf">parent property</option>
                            <option value="owl:equivalentProperty">equivalent property</option>
                            <option value="owl:disjointWith">disjoint with</option>
                            <option value="owl:inverseOf">inverse property</option>
                            <option value="rdfs:domain">domain</option>
                            <option value="rdfs:range">range</option>
                            {% elif entity_type == "owl:Individual" %}
                            <option value="rdf:type">type of</option>
                            <option value="owl:sameAs">same individual</option>
                            <option value="owl:differentFrom">different individual</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-outline-primary" href="javascript:addField('logic')">Add</a>
                    </div>
                </div>
            </div>
        </div>
        {{ logic|safe }}
        <div class="row py-5">
            <button type="submit" class="col-md-2 btn btn-large btn-outline-primary">Submit</button>
        </div>
    </form>
</div>

<script>
    function addField(fieldType) {
        // Get the selected predicate label & ID
        var select;
        if (fieldType === 'annotation') {
            select = document.getElementById("metadata-select");
        } else {
            select = document.getElementById("logic-select");
        }
        var predicateId = select.options[select.selectedIndex].value;
        var predicate = select.options[select.selectedIndex].text;

        // Find the last row ID
        var rowId = 0;
        while(true) {
            if (document.getElementById(rowId.toString()) === null) {
                break;
            }
            rowId += 1;
        }

        // Create a new input row for the form
        var inptRow = document.createElement("div");
        inptRow.setAttribute("class", "row g-3 align-items-center");
        inptRow.setAttribute("id", rowId);
        var innerHTML = `<div class="col-md-3">`
        innerHTML += `<a href="javascript:del('${rowId}')"><i class="bi-x-circle" style="font-size: 16px; color: #dc3545"></i></a>`
        innerHTML += " &nbsp;"
        innerHTML += `<b>${predicate}</b></div>`
        innerHTML += '<div class="col-md-9">'
        if (fieldType == 'annotation') {
        innerHTML += `<input type="text" class="form-control" name="${predicateId}">`
        } else {
            innerHTML += `<input type="text" class="typeahead form-control" id="{{ table_name }}-typeahead-form" name="${predicateId}">`
        }
        innerHTML += '</div></div>'
        inptRow.innerHTML = innerHTML;

        // Add the input row to the form
        var ele;
        if (fieldType == 'annotation') {
            ele = document.getElementById("term-metadata");
        } else {
            ele = document.getElementById("term-logic");
        }
        ele.appendChild(inptRow);
        if (fieldType == 'logic') {
            $('.typeahead').each(function() { configure_typeahead_form(this); });
        }
    }

    function del(rowId) {
        var ele = document.getElementById(rowId);
        ele.remove();
    }
</script>


{% endblock %}